<div class="day_stats">
<div class="bar_slider">
<div class="center_sports grey special_label">feel</div>
<%= f.hidden_field :feel, :class=> "feel" %>
<div class="feel_slider">
<div class="wrapper_slider">
  <div class="circle_slider">
  <div class="circle_grab">III</div>
  </div>
  <div class="feel_slider_under">
  </div>
  <div class="feel_slider_inside">
  </div>
</div>
</div>
</div>
<div class="bar_slider">
<div class="center_sports grey special_label">sleep quality</div>
<%= f.hidden_field :sleep_quality, :class=> "feel" %>
<div class="feel_slider">
<div class="wrapper_slider">
  <div class="circle_slider">
  <div class="circle_grab">III</div>
  </div>
  <div class="feel_slider_under">
  </div>
  <div class="feel_slider_inside">
  </div>
</div>
</div>
</div>
</div><div class="custom_field_wrapper"><div class="custom_field_container">
		<div class="custom_field_container_inside no_right_border center_sports grey hidden_custom_field">custom 1</div>
	</div><div class="custom_field_container">
		<div class="custom_field_container_inside center_sports grey hidden_custom_field" data-custom-number="2">custom 2</div>
	</div>
</div>
</div>
<div class="workout_footer">
<div class="info_workout icon-info"></div>
<%= f.submit "Save", :class => "save save_workout" %>
</div>
<div class="workout_drawer">
	<div class="center_sports grey drawer_label">add fields</div>
	<div class="custom_field_choice">
		<div class="custom_field_choice_content">
			<div class="icon-text-field"></div>
		</div>
		<div class="center_sports grey choice_label">text field</div>
	</div><div class="custom_field_choice">
		<div class="custom_field_choice_content">
			<div class="icon-text-area"></div>
		</div>
		<div class="center_sports grey choice_label">text area</div>
	</div><div class="custom_field_choice">
		<div class="custom_field_choice_content">
			<div class="icon-drop-down"></div>
		</div>
		<div class="center_sports grey choice_label">drop down</div>
	</div><div class="custom_field_choice">
		<div class="custom_field_choice_content">
			<div class="icon-clock"></div>
		</div>
		<div class="center_sports grey choice_label">time field</div>
	</div><div class="custom_field_choice">
			<div class="custom_field_choice_content">
				<div class="icon-integer-field"></div>
			</div>
			<div class="center_sports grey choice_label">number</div>
		</div><div class="custom_field_choice add_row">
				<div class="custom_field_choice_content">
					<div class="icon-plus"></div>
				</div>
				<div class="center_sports grey choice_label">add row</div>
			</div>
</div>